@import url('footer.css'); 
@import url('window.css');
@import url('memory-game.css');
@import url('chat.css');
@import url('quiz.css');

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    background: url('../images/desktop.jpg') no-repeat center center fixed;
    background-size: cover;
}
